/* MEDIA QUERIES */
@media only screen and (max-width: 660px) {
    .landing-header {
      margin: 0 auto;
      padding-top: 170px;
      width: auto;
      height: auto;
      position: unset;
      text-align: center;
    }
    .title {
      font-size: 80px;
      margin: 0 auto;
      text-align: center;
    }
  
    .subtitle {
      font-size: 40px;
      margin: 0 auto;
      text-align: center;
    }
  
    .outer-subheader {
      font-size: 30px;
      margin: 0 auto;
      text-align: center;
    }
  
  
  
    .location {
      font-size: 15px;
      margin: 0 auto;
      text-align: center;
      margin-top: 6px;
    }
  
   
  
   
  
   
  }
  @media only screen and (max-width: 985px) {
    .iframe-holder iframe {
      width: 360px;
      height: 320px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .nav-rightside {
      display:none;
      
    }
  }
/*IPAD 768 */
  @media only screen and (max-width: 768px) {
    .iframe-holder {
      margin: 0 auto;
      text-align: center;
    }
    .iframe-holder iframe {
      width: 410px;
      height: 450px;
    }
  
    .about-section {
      text-align: center;
      margin: 0 auto;
      margin-top: 15px;
      
    }

    #contact-form {
        width:650px;
    }
  
  }
  
  @media only screen and (max-width: 414px) {
    .iframe-holder {
      margin: 0 auto;
      text-align: center;
    }
    .iframe-holder iframe {
      width: 330px;
      height: 350px;
      margin: 0 auto;
    }
  
    .about-section {
      text-align: center;
      margin: 0 auto;
      margin-top: 15px;
      
    }
  }
  
  @media only screen and (min-width: 375px) and (max-width: 413px) {
    .iframe-holder {
      margin: 0 auto;
      text-align: center;
    }
    .iframe-holder iframe {
      width: 290px;
      height: 300px;
    }

    #contact-form {
        width:340px;
    }
  }

  /* IPHONE 6/7/8+
*/  @media only screen and (min-width: 414px) and (max-width: 767px) {
    #contact-form {
        width:380px;
    }
}

  /* IPHONE 5/SE+
*/  @media only screen and (min-width: 320px) and (max-width: 413px) {
    #contact-form {
        width:280px;
    }

    .contact-title {
        font-size:50px;
    }

    .iframe-holder {
        margin: 0 auto;
        text-align: center;
      }
      .iframe-holder iframe {
        width: 290px;
        height: 300px;
      }
}



